# Banco de Dados (PostgreSQL)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5433

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

# Backend (Express)
API_PORT=4000

# Frontend (Next.js)
WEB_PORT=3000

# Nginx
NGINX_PORT=8081


APP_URL=http://localhost:${NGINX_PORT}

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

AVATARS_DIR=../../uploads/avatars
